* {
  margin: 0;
  padding: 1rem;
  /* cursor: auto; */
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  user-select: none;
}

body {
  background-color: none;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  display: block;
  margin: 0 auto
}


#luis1, #luis2, #luis3, 
#bibliografia1, #bibliografia2, #bibliografia3, 
#danisebas1, #danisebas2, #danisebas3, 
#about1, #about2, #about3, 
#draggable, #draggable1, #draggable2, #draggable3, #draggable4, #draggable5, #draggable6, #draggable7, #draggable8, #draggable9, #draggable10, #draggable11, #draggable12, #draggable13  
{ 
    border: none; 
    padding: 0.5em; 
    float: left; 
    margin: 10px 10px 10px 10px; 
    background-color: transparent;
}


#luis1:hover, #luis2:hover, #luis3:hover {
  filter: drop-shadow(0 0 0.5rem rgba(255, 0, 255, 1));
}

#bibliografia1:hover, #bibliografia2:hover, #bibliografia3:hover {
  filter: drop-shadow(0 0 0.5rem rgba(100, 255, 100, 1));
}

#danisebas1:hover, #danisebas2:hover, #danisebas3:hover {
  filter: drop-shadow(0 0 0.5rem rgba(255, 0, 0, 1));
}

#about1:hover, #about1:hover, #about3:hover {
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 255, 1));
}


/* drop-shadow( offset-x offset-y blur-radius spread-radius color ) */

/*
#draggable:hover, #draggable1:hover, #draggable2:hover, #draggable3:hover, #draggable4:hover, #draggable5:hover, #draggable6:hover, #draggable7:hover, #draggable8:hover, #draggable9:hover, #draggable10:hover, #draggable11:hover, #draggable12:hover, #draggable13:hover {
     filter:drop-shadow(0 0 0rem #fff); 
     }
*/


.home {
  float: right;
  padding: 5px;
  position: fixed;
  bottom: 1%;
  right: 1%;
}
  
#home:hover {
  filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 1));
}
