
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    user-select: none;
  }

  body {
    background-color: none;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    display: block;
    margin: 0 auto
  }


  .container  {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 88%;
  }

  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 5%;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 43%;
    padding: 9%;
    display: center center;
    align-content: center center;
    filter: drop-shadow(0 0 10rem rgba(255, 0, 255, 0.3));
    }

.home {
      float: right;
      padding: 5px;
      position: fixed;
      bottom: 1%;
      right: 1%;
      }
      
#home:hover {
      filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 1));
      }